@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif; /* Apply Open Sans font globally */
}

body {
  background: #ebe9e9;
}

code {
  font-family: 'source-code-pro', Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Hides webpack dev server overlay for better development experience */
iframe#webpack-dev-server-client-overlay {
  display: none !important;
}

/* Style the scrollbar for Webkit browsers */
::-webkit-scrollbar {
  width: 5px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* track color */
}

::-webkit-scrollbar-thumb {
  background: #888; /* thumb color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* thumb hover color */
}
